[submodule "IDEK.PCG.Core"]
	path = IDEK.PCG.Core
	url = https://github.com/vertigomaster/idek-pcg-core
[submodule "IDEK.PCG.StructureGen.Core"]
	path = IDEK.PCG.StructureGen.Core
	url = https://github.com/vertigomaster/idek-pcg-structure-gen
[submodule "IDEK.PCG.StructureGen.FloorDivision"]
	path = IDEK.PCG.StructureGen.FloorDivision
	url = https://github.com/vertigomaster/idek-pcg-structure-floordivision
